<!DOCTYPE html>
<html>

<head>
  <title>NewScraper - {{title}}</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">NewScraper</a>

            <ul id="news-nav" class="right hide-on-med-and-down">
                <li><a href="/saved">Saved Articles</a></li>
                <li><a class="scrape">Scrape New Articles</a></li>
                <li><a class="clear">Clear Saved Articles</a></li>
            </ul>

            <a href="#" data-target="mobile-menu" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
  </header>

  <main>
    <section class="row">
      <div class="col s12 center">
        <h1>Associated Press NewScraper</h1>

        {{#if title}}
        <h2>{{title}}</h2>
        {{/if}}
      </div>

      <div class="container">
        {{{body}}}
      </div>
    </section>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12">

        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <p>Associated Press NewScraper</p>
      </div>
    </div>
  </footer>

  {{!-- Sidenavs --}}
  <ul class="sidenav" id="mobile-menu">
    <li><a href="/saved">Saved Articles</a></li>
    <li><a class="scrape" href="/">Scrape New Articles</a></li>
    <li><a class="clear">Clear Saved Articles</a></li>
  </ul>

  {{!-- Modals --}}
  <div id="scrape-complete" class="modal">
    <div class="modal-content">
      <h3>Scrape has been completed!</h3>
    </div>

    <div class="modal-footer">
      <a href="/" class="modal-close waves-effect waves-light btn-flat green">Check out the new articles!</a>

      <a href="#!" class="modal-close waves-effect waves-light btn-flat red">Stay on this page</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>